<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TESTBOK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pages.css" />
    <style>
        .menu-header {
            margin-top: 10px;
            margin-bottom: 2px;
            width: 98px;
            height: 18px;
            border: 1px solid #906A32;
            /*background-color: #EEEAC6;*/
            background-color: #3e6422;
            text-indent: 10px;
        }
        #box-top-1 {
            padding: 5px;
            /*height: 20px;*/
            /*border-bottom: 1px solid #906A32;*/
            /*background-color: #DDD79A;*/
            border-bottom: 1px solid #3e6422;
            background-color: #3e6422;
        }
        #system-title-box {
            float: left;
            border: 1px solid #906A32;
            background-color: #EEEAC6;
            /*background-color: #3e6422;*/
            color: maroon;
            width: 480px;
            height: 18px;
            padding-left: 5px;
        }
        #box-content {
            margin: 10px;
            padding: 10px 0;
            background-color: #FFFFFF;
            /*border: 1px solid #906A32;*/
            border: 1px solid #4a7729;
            min-height: 400px;
        }
        #box-right {
            width: 878px;
            float: left;
            /*border: 1px solid #906A32;
            background-color: #EEEAC6;*/
            border: 1px solid #3e6422;
            background-color: #4a7729;
            border-radius: 5px;
        }
        .button {
            width: 98px;
            height: 18px;
            text-indent: 5px;
            background-color: #fff;
            border: 1px solid #4a7729;
            /*border-right-color: #906A32;
            border-bottom-color: #906A32;*/
            border-radius: 4px;
            color: #4a7729;
        }
        li a {
            color: #121212;
        }

        li a:hover {
            color: #fff;
        }

        .button:hover {
            background-color: #4a7729;
            border: 1px solid #4a7729;
            /*border-right-color: #EEEAC6;
            border-bottom-color: #EEEAC6;*/
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TESTBOK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="" id="box-page">
        <nav id="box-menu">
            <div class="menu-logga textcentered">
                <img src="~/img/sv1pos_75svart_100.png" />
            </div>
            <div class="menu-header text-white">
                Meny
            </div>
            <ul class="menu_left" id="common_menu">
                <li class="button text-center" id="login"><a class="" asp-controller="Home" asp-action="Index" style="text-decoration: none">Logga in</a></li>
                <li class="button_spacer"></li>
                <li class="button text-center" id="overview"><a class="" asp-controller="OverView" asp-action="Overview" style="text-decoration: none">Översikt</a></li>
                <li class="button_spacer"></li>
                <li class="button text-center" id="search"><a class="" asp-controller="Home" asp-action="Search" style="text-decoration: none">&nbsp;&nbsp;&nbsp;&nbsp;Sök&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li class="button_spacer"></li>
                <li class="button text-center" id="help"><a class="nav-item " asp-controller="Home" asp-action="Information" style="text-decoration: none">Information</a></li>
            </ul>
        </nav>
        <main id="box-right">
            <div id="box-top-1">
                <div id="system-title-box">
                    Resursbokning - 3.0.0
                </div>
                <div id="logged-in-as">
                    Ej inloggad
                </div>
            </div>
            <div id="box-content">
                
                @RenderBody()
                
                

            </div>

        </main>

    </div>
    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TESTBOK - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
