<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TESTBOK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pages.css" />
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TESTBOK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="" id="box-page">
        <nav id="box-menu">
            <div class="menu-header">
                Meny
            </div>
            <ul class="menu_left" id="common_menu">
                <li class="button text-center" id="login"><a class="text-dark" asp-action="Index" style="text-decoration: none">Logga in</a></li>
                <li class="button_spacer"></li>
                <li class="button text-center" id="overview"><a class="text-dark" style="text-decoration: none">Översikt</a></li>
                <li class="button_spacer"></li>
                <li class="button text-center" id="search"><a class="text-dark" asp-action="Search" style="text-decoration: none">&nbsp;&nbsp;&nbsp;&nbsp;Sök&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                <li class="button_spacer"></li>
                <li class="button text-center" id="help"><a class="nav-item text-dark" asp-action="Information" style="text-decoration: none">Information</a></li>
            </ul>
        </nav>
        <main id="box-right">
            <div id="box-top-1">
                <div id="system-title-box">
                    Resursbokning - 3.0.0
                </div>
                <div id="logged-in-as">
                    Ej inloggad
                </div>
            </div>
            <div id="box-content">
                
                @RenderBody()
                
                

            </div>

        </main>

    </div>
    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TESTBOK - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
