@*@{
    ViewData["Title"] = "Home Page";
}*@

<div id="content-2">
        Sidinnehåll från databas, Login först
        <style>
            #login_submit_btn {
                margin: 10px 150px;
            }
            h2 {
                /*border: 1px solid #906A32;
                background-color: #EEEAC6;
                color: maroon;*/
                border: 1px solid #3e6422;
                background-color: #fff;
                color: #121212;
                text-indent: 10px;
                margin-bottom: 20px;
            }
            .formstyle {
                margin: 10px;
                padding: 10px;
                /*background: #DDD79A;*/
                /*border: 1px solid #906A32;*/
                background: #f2f2f2;
                border: 1px solid #3e6422;
                overflow: hidden;
                width: 360px;
            }
        </style>

        <form name="login_form" class="formstyle" id="login_form">
            <h2>login</h2>

            <label for="username" class="left-label">Användarnamn:</label>
            <input class="right-input" type="text" name="username" id="username" value="" tabindex=1 />

            <label for="leaderid" class="left-label">Lösenord:</label>
            <input class="right-input" type="password" name="pwd" id="pwd" value="" tabindex=2 />

            <button id="login_submit_btn" class="button submit_btn">Logga in</button>
        </form>
</div>
