
<style>
    .vlog {
        border: 1px solid #906A32;
        background-color: #EEEAC6;
        padding: 10px;
        font-size: 80%;
    }
</style>

<div id="content-1"></div>
<div id="content-2">

    <h2>Hjälp och information</h2>
    <a href="http://boka.vuxenskolan.se/help/rebo-guide.pdf">Guide för resursbokning.</a>
    <br /><br />
    Om någonting är fel, om någon funktion saknas, eller känns klumpig -
    skicka ett mail till <strong>pederstromberg@gmail.com</strong>
    <div class="vpadding"></div>
    <h2>Versionslogg</h2>

    <div class="vlog">


        <h3>2.1.2 [2011-11-26]</h3>
        <h4>Stora förändringar:</h4>
        <ul>
            <li>Det går nu att flytta bokningar till nya datum via datumväljare i bokningsredigeringen.</li>
            <li></li>
            <li></li>
        </ul>
        <h4>Korrigeringar:</h4>
        <ul>
            <li>Problemet med att byta datum/ vecka i översikten över årsskiftet åtgärdat.</li>
            <li></li>
        </ul>
        <h4>Övrigt:</h4>
        <ul>
            <li>Sorteringen av resursgrupper ändrad till att visa Bil och Mötesrumsgrupperna först.</li>
            <li></li>
        </ul>

        <hr />

        <h3>2.1.1 [2011-10-05]</h3>
        <h4>Stora förändringar:</h4>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h4>Korrigeringar:</h4>
        <ul>
            <li>Gruppfilterknapparna justerade.</li>
            <li></li>
        </ul>
        <h4>Övrigt:</h4>
        <ul>
            <li>Lillatorp tillagd.</li>
            <li>Allmän behörighet ändrad till att visa salar.</li>
        </ul>

        <hr />

        <h3>2.1 [2011-09-21]</h3>
        <h4>Stora förändringar:</h4>
        <ul>
            <li>Ny hjälp och informationssida tillagd med länk till pdf-guiden</li>
            <li>Ny sökfunktion tillagd.</li>
            <li>Versionslogg skapad</li>
        </ul>
        <h4>Korrigeringar:</h4>
        <ul>
            <li>Utloggningstext ändrad</li>
            <li>Optimering och konsolidering av css för formulär</li>
        </ul>
    </div>
</div>

<div id="content-3"></div>
