<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TESTBOK</title>
    <link rel="stylesheet" href="css/pages.css" />
</head>
<body>
    <div id="content-2">
        <h3>Översikt resurser i alla grupper vecka 47</h3>

        <div class="icon-box">
            <div class="icon-btn print_btn" id="print-button" data-cmd="print">
                <img src="layout/led16/printer.png" title="Skriv ut" />
            </div>
        </div>
        <div class="wrd-nav-box">
            <div class="button left bfilter selected_filter_btn" data-filter="ALL">Alla</div>
            <div class="button left bfilter" data-filter="1">RES</div>
            <div class="button left bfilter" data-filter="3">ÅNÄS</div>
            <div class="button left bfilter" data-filter="4">RET</div>
            <div class="button left bfilter" data-filter="5">KGG</div>
            <div class="button left bfilter" data-filter="7">BIL</div>
            <div class="button left bfilter" data-filter="8">MÖT</div>
            <div class="button left bfilter" data-filter="9">ÖVR</div>

            @*
                <div class="button left bfilter" data-filter="10">LL10</div>
                <div class="button left bfilter" data-filter="11">HHA</div>
                <div class="button left bfilter" data-filter="12">BG5</div>
            *@
        </div>
        <div id="wrd-nav-box_top" class="wrd-nav-box">
            <div id="prev-wk-btn_top" class="button left prev-wk-btn" alt="Föregående vecka(2020-11-05)" title="Föregående vecka(2020-11-05)"><<< -1 Vecka</div>
            <label id="date-select-lbl_top" for="date-select-input_top" class="left date-select-lbl">Datum: </label>
            <input id="date-select-input_top" type="text" class="date-select-input hasDatepicker" value="2020-11-12">
            <label id="week_num_btn_lbl" for="week-num_btn" class="left week_num_lbl">Vecka: </label>
            <div id="wk_select_btn" class="left week-num">
                <select id="wk_selector_top" class="wk_selector">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>45</option>
                    <option selected="selected">46</option>
                    <option>47</option>
                </select>
            </div>
            <div id="next-wk-btn_top" class="button right next-wk-btn" alt="Nästa vecka(2020-11-19)">+1 Vecka >>></div>
        </div>

        <div class="list-header-box">
            <div class="data-item-short">Grupp</div>
            <div class="data-item-short">Resurs</div>
            <div class="data-item">Måndag</div>
            <div class="data-item">Tisdag</div>
            <div class="data-item">Onsdag</div>
            <div class="data-item">Torsdag</div>
            <div class="data-item">Fredag</div>
            <div class="data-item">Lördag</div>
            <div class="data-item">Söndag</div>
        </div>
        <div class="hidden"></div>
        <div id="week-overview-list" />
        <div class="list-row" data-rid="15">
            <div class="overview-item-short dotip_building" data-ttip="#rg8" title="MÖT">MÖT</div>
            <div class="overview-item-short room_id_btn" data-rgid="8" data-rid="15">Mötesrum</div>
        </div>
        <div class="list-row" data-rid="30">
            <div class="overview-item-short dotip_building" data-ttip="#rg7" title="BIL">BIL</div>
            <div class="overview-item-short room_id_btn" data-rgid="7" data-rid="30">VW E-UP</div>
        </div>
        <div class="list-row" data-rid="17">
            <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
            <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="17">Café</div>
        </div>
        <div class="list-row" data-rid="18">
            <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
            <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="3">sal 11</div>
        </div>

        <div class="list-row" data-rid="27">
            <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
            <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="27">sal 13</div>
        </div>
        <div class="list-row" data-rid="2">
            <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
            <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="2">sal 17</div>
        </div>
        <div class="list-row" data-rid="4">
            <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
            <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="4">Silver</div>
        </div>
        <div class="list-row" data-rid="16">
            <div class="overview-item-short dotip_building" data-ttip="#rg1" title="RES">RES</div>
            <div class="overview-item-short room_id_btn" data-rgid="1" data-rid="16">Träslöjd</div>
        </div>
        <div class="list-row" data-rid="19">
            <div class="overview-item-short dotip_building" data-ttip="#rg4" title="RET">RET</div>
            <div class="overview-item-short room_id_btn" data-rgid="4" data-rid="19">Teater</div>
        </div>

        <div class="list-header-box">
            <div class="data-item-short">Grupp</div>
            <div class="data-item-short">Resurs</div>
            <div class="data-item">Måndag</div>
            <div class="data-item">Tisdag</div>
            <div class="data-item">Onsdag</div>
            <div class="data-item">Torsdag</div>
            <div class="data-item">Fredag</div>
            <div class="data-item">Lördag</div>
            <div class="data-item">Söndag</div>
        </div>

        <div id="wrd-nav-box_top" class="wrd-nav-box">
            <div id="prev-wk-btn_top" class="button left prev-wk-btn" alt="Föregående vecka(2020-11-05)" title="Föregående vecka(2020-11-05)"><<< -1 Vecka</div>
            <label id="date-select-lbl_top" for="date-select-input_top" class="left date-select-lbl">Datum: </label>
            <input id="date-select-input_top" type="text" class="date-select-input hasDatepicker" value="2020-11-12">
            <label id="week_num_btn_lbl" for="week-num_btn" class="left week_num_lbl">Vecka: </label>
            <div id="wk_select_btn" class="left week-num">
                <select id="wk_selector_top" class="wk_selector">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>45</option>
                    <option selected="selected">46</option>
                    <option>47</option>
                </select>
            </div>
            <div id="next-wk-btn_top" class="button right next-wk-btn" alt="Nästa vecka(2020-11-19)">+1 Vecka >>></div>
        </div>

    </div>
</body>
</html>