@model UnitResViewModel

<style>

    fieldset {
        padding: 10px;
    }

    #start-datetime-field {
    }

    #recurring-field {
    }

    .bIDsChk {
        padding: 0;
        margin: 0 3px 0 15px;
    }

    #search_form {
        width: 780px;
    }

    #start-date:hover {
        cursor: pointer;
    }

    .right_help_text {
        float: left;
        margin-left: 30px;
        font-size: 12px;
        font-style: italic;
    }
</style>
<div id="content-1"></div>
<div id="content-2">

    <form name="search_form" id="search_form" class="formstyle">
        <h2>Sök lediga tider</h2>

        <fieldset id="building-select-field">
            <legend>Resursgrupp</legend>

            <div class="left">
                <input type="checkbox" class="bIDsChk" name="bIDs" id="all" value="all" checked />Alla
            </div>

            <div class="left">
                @foreach (var item in Model.UnitsList)
                {
                    <input type="checkbox" class="bIDsChk" name="bIDs" id="" value="@item.ShortName" />@item.ShortName
                }
            </div>

        </fieldset>

        <fieldset id="select-requirements-field">
            <legend>Egenskaper</legend>
            <div>
                <label for="size" class="left-label">Antal personer:</label>
                <input type="text" class="right-input w60" name="size" id="size" size="10" value="" />
                <div class="right_help_text">Hur många personer ska använda resursen?</div>
            </div>
            <label for="room-type" class="left-label">Typ av sal:</label>
            <select class="right-select w120" name="room-type" id="room-type">
                <option></option>
                <option>Café</option>
                <option>Keramik</option>
                <option>Sal 11</option>
                <option>Sal 13</option>
                <option>Sal 17</option>
                <option>Sal 18</option>
                <option>Sal 25</option>
                <option>Silver</option>
                <option>Träslöjd</option>
                <option>Stor sal</option>
                <option>Teater</option>
                <option>Sal 1</option>bn
                <option>VW E-UP</option>
                <option>Mötesrum</option>
            </select>
            <div class="right_help_text">*Ej angett innebär att alla resurser visas.</div>
        </fieldset>

        <fieldset id="start-datetime-field">
            <legend>Tid och datum</legend>
            <div class="">
                <label for="start-date" class="left-label w100">Datum:</label>
                <input type="text" class="left w80" name="start-date" id="start-date" size="10" @* value="30/12/20" *@ />
                <div class="right_help_text">Vilket datum startar bokningen?</div>
            </div>


            <div class="left clearLeft w190">
                <label for="sHrs" class="left-label w100">Starttid -tim:</label>
                <select class="w60" name="sHrs" id="sHrs">

                    for ($h = 0; $h < 24; $h++) {
                    $hrs = date("H", mktime($h, 0, 0, 0, 0, 0));
                    @*starttid*@
                    <option></option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                </select>
            </div>
            <div class="left w190">
                <select class="left w60" name="sMin" id="sMin">
                    <option value=""></option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
                <label for="sMin" class="left w100">:min.</label>
            </div>

            <div class="hline left clearLeft" style="width:90%;margin:10px;"></div>
            <div class="left clearLeft w190">
                <label for="eHrs" class="left-label w100">Sluttid -tim:</label>
                <select class="w60" name="eHrs" id="eHrs">

                    for ($h = 0; $h < 24; $h++) {
                    $hrs = date("H", mktime($h, 0, 0, 0, 0, 0));

                    <option></option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>12</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>

                    @*sluttid*@
                </select>
            </div>

            <div class="left w190">
                <select class="left w60" name="eMin" id="eMin">
                    <option value=""></option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
                <label for="eMin" class="left w100">:min.</label>
            </div>
        </fieldset>

        <fieldset id="recurring-field">
            <legend>Återkommande bokning</legend>
            <div>
                <label for="numWeeks" class="left-label">Antal veckor:</label>
                <select class="right-input w40" name="numWeeks" id="numWeeks">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>

                    @*
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                    *@
                </select>
                <div class="right_help_text">Skall bokningen återkomma flera veckor, och i så fall hur många?</div>
            </div>
        </fieldset>

        <button id="search_submit_btn" class="button submit_btn clearLeft left" style="margin:10px 250px;">
            Sök
        </button>

    </form>

</div>

<div id="content-3"></div>

<script type="text/javascript">

    clearContent('#content-1');
    clearContent('#content-3');

    $(function () {
        $("#start-date").datepicker();
    });

    $('#search_submit_btn').unbind('click');
    $('#search_submit_btn').click(function () {
        var bIDcsl = $('.bIDsChk:checked').map(function () {
            return this.id;
        }).get().join(',');
        $.post('part/search/s_result.php',
            {
                bIDs: bIDcsl,
                roomType: $("#room-type").val(),
                roomSize: $("#size").val(),
                startDate: $("#start-date").val(),
                sHrs: $("#sHrs").val(),
                sMin: $("#sMin").val(),
                eHrs: $("#eHrs").val(),
                eMin: $("#eMin").val(),
                numWeeks: $("#numWeeks").val()
            },
            function (data) {
                $('#content-3').html(data);
            });
        return false;
    });

</script>
